In [1]:
#Creating an random array of customers from c1-c5
n=np.random.choice(['C1','C2','C3','C4','C5'],500)

In [2]:
#Assuming that each customers purchased two products(maybe same or different so repeating the same id twice)
n=np.repeat(n,2)

In [3]:
#Viewing the array
n

array(['C4', 'C4', 'C4', 'C4', 'C3', 'C3', 'C1', 'C1', 'C4', 'C4', 'C5',
       'C5', 'C5', 'C5', 'C2', 'C2', 'C3', 'C3', 'C4', 'C4', 'C4', 'C4',
       'C4', 'C4', 'C3', 'C3', 'C4', 'C4', 'C5', 'C5', 'C4', 'C4', 'C1',
       'C1', 'C3', 'C3', 'C5', 'C5', 'C5', 'C5', 'C1', 'C1', 'C5', 'C5',
       'C3', 'C3', 'C5', 'C5', 'C1', 'C1', 'C1', 'C1', 'C5', 'C5', 'C2',
       'C2', 'C1', 'C1', 'C3', 'C3', 'C4', 'C4', 'C4', 'C4', 'C2', 'C2',
       'C4', 'C4', 'C4', 'C4', 'C4', 'C4', 'C3', 'C3', 'C1', 'C1', 'C4',
       'C4', 'C2', 'C2', 'C2', 'C2', 'C5', 'C5', 'C4', 'C4', 'C3', 'C3',
       'C2', 'C2', 'C2', 'C2', 'C4', 'C4', 'C1', 'C1', 'C4', 'C4', 'C4',
       'C4', 'C3', 'C3', 'C2', 'C2', 'C5', 'C5', 'C2', 'C2', 'C3', 'C3',
       'C4', 'C4', 'C1', 'C1', 'C5', 'C5', 'C3', 'C3', 'C3', 'C3', 'C4',
       'C4', 'C5', 'C5', 'C5', 'C5', 'C3', 'C3', 'C1', 'C1', 'C1', 'C1',
       'C4', 'C4', 'C5', 'C5', 'C4', 'C4', 'C5', 'C5', 'C3', 'C3', 'C3',
       'C3', 'C2', 'C2', 'C3', 'C3', 'C2', 'C2', 'C3', 'C3', 'C2', 'C2',
       'C3', 'C3', 'C1', 'C1', 'C2', 'C2', 'C1', 'C1', 'C5', 'C5', 'C3',
       'C3', 'C3', 'C3', 'C4', 'C4', 'C2', 'C2', 'C4', 'C4', 'C5', 'C5',
       'C5', 'C5', 'C4', 'C4', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C3',
       'C3', 'C5', 'C5', 'C4', 'C4', 'C3', 'C3', 'C5', 'C5', 'C5', 'C5',
       'C1', 'C1', 'C4', 'C4', 'C2', 'C2', 'C1', 'C1', 'C5', 'C5', 'C4',
       'C4', 'C2', 'C2', 'C4', 'C4', 'C4', 'C4', 'C1', 'C1', 'C2', 'C2',
       'C3', 'C3', 'C3', 'C3', 'C3', 'C3', 'C4', 'C4', 'C1', 'C1', 'C1',
       'C1', 'C5', 'C5', 'C3', 'C3', 'C5', 'C5', 'C4', 'C4', 'C4', 'C4',
       'C2', 'C2', 'C3', 'C3', 'C2', 'C2', 'C3', 'C3', 'C5', 'C5', 'C4',
       'C4', 'C2', 'C2', 'C3', 'C3', 'C4', 'C4', 'C1', 'C1', 'C2', 'C2',
       'C1', 'C1', 'C3', 'C3', 'C3', 'C3', 'C3', 'C3', 'C5', 'C5', 'C1',
       'C1', 'C5', 'C5', 'C3', 'C3', 'C4', 'C4', 'C5', 'C5', 'C3', 'C3',
       'C1', 'C1', 'C4', 'C4', 'C5', 'C5', 'C5', 'C5', 'C5', 'C5', 'C3',
       'C3', 'C2', 'C2', 'C2', 'C2', 'C3', 'C3', 'C5', 'C5', 'C4', 'C4',
       'C5', 'C5', 'C4', 'C4', 'C3', 'C3', 'C1', 'C1', 'C4', 'C4', 'C4',
       'C4', 'C5', 'C5', 'C3', 'C3', 'C2', 'C2', 'C3', 'C3', 'C5', 'C5',
       'C1', 'C1', 'C4', 'C4', 'C1', 'C1', 'C3', 'C3', 'C4', 'C4', 'C3',
       'C3', 'C1', 'C1', 'C3', 'C3', 'C5', 'C5', 'C2', 'C2', 'C4', 'C4',
       'C4', 'C4', 'C1', 'C1', 'C5', 'C5', 'C4', 'C4', 'C2', 'C2', 'C2',
       'C2', 'C1', 'C1', 'C5', 'C5', 'C3', 'C3', 'C5', 'C5', 'C4', 'C4',
       'C2', 'C2', 'C2', 'C2', 'C3', 'C3', 'C3', 'C3', 'C3', 'C3', 'C1',
       'C1', 'C4', 'C4', 'C2', 'C2', 'C4', 'C4', 'C5', 'C5', 'C4', 'C4',
       'C3', 'C3', 'C2', 'C2', 'C2', 'C2', 'C5', 'C5', 'C4', 'C4', 'C5',
       'C5', 'C3', 'C3', 'C3', 'C3', 'C1', 'C1', 'C1', 'C1', 'C4', 'C4',
       'C5', 'C5', 'C5', 'C5', 'C1', 'C1', 'C2', 'C2', 'C5', 'C5', 'C4',
       'C4', 'C3', 'C3', 'C1', 'C1', 'C4', 'C4', 'C1', 'C1', 'C2', 'C2',
       'C4', 'C4', 'C1', 'C1', 'C1', 'C1', 'C3', 'C3', 'C1', 'C1', 'C1',
       'C1', 'C5', 'C5', 'C5', 'C5', 'C1', 'C1', 'C2', 'C2', 'C2', 'C2',
       'C3', 'C3', 'C5', 'C5', 'C1', 'C1', 'C5', 'C5', 'C2', 'C2', 'C3',
       'C3', 'C1', 'C1', 'C1', 'C1', 'C3', 'C3', 'C3', 'C3', 'C2', 'C2',
       'C1', 'C1', 'C1', 'C1', 'C2', 'C2', 'C1', 'C1', 'C1', 'C1', 'C4',
       'C4', 'C3', 'C3', 'C1', 'C1', 'C2', 'C2', 'C2', 'C2', 'C4', 'C4',
       'C4', 'C4', 'C2', 'C2', 'C4', 'C4', 'C5', 'C5', 'C1', 'C1', 'C4',
       'C4', 'C1', 'C1', 'C3', 'C3', 'C1', 'C1', 'C5', 'C5', 'C3', 'C3',
       'C4', 'C4', 'C4', 'C4', 'C2', 'C2', 'C5', 'C5', 'C2', 'C2', 'C5',
       'C5', 'C2', 'C2', 'C4', 'C4', 'C4', 'C4', 'C3', 'C3', 'C3', 'C3',
       'C2', 'C2', 'C2', 'C2', 'C5', 'C5', 'C1', 'C1', 'C5', 'C5', 'C1',
       'C1', 'C2', 'C2', 'C4', 'C4', 'C2', 'C2', 'C2', 'C2', 'C4', 'C4',
       'C3', 'C3', 'C3', 'C3', 'C4', 'C4', 'C2', 'C2', 'C3', 'C3', 'C4',
       'C4', 'C4', 'C4', 'C4', 'C4', 'C3', 'C3', 'C5', 'C5', 'C2', 'C2',
       'C4', 'C4', 'C3', 'C3', 'C3', 'C3', 'C1', 'C1', 'C1', 'C1', 'C4',
       'C4', 'C5', 'C5', 'C4', 'C4', 'C3', 'C3', 'C1', 'C1', 'C4', 'C4',
       'C4', 'C4', 'C4', 'C4', 'C2', 'C2', 'C2', 'C2', 'C3', 'C3', 'C5',
       'C5', 'C5', 'C5', 'C4', 'C4', 'C1', 'C1', 'C5', 'C5', 'C4', 'C4',
       'C2', 'C2', 'C5', 'C5', 'C5', 'C5', 'C4', 'C4', 'C4', 'C4', 'C4',
       'C4', 'C4', 'C4', 'C3', 'C3', 'C2', 'C2', 'C4', 'C4', 'C1', 'C1',
       'C4', 'C4', 'C4', 'C4', 'C3', 'C3', 'C1', 'C1', 'C2', 'C2', 'C4',
       'C4', 'C3', 'C3', 'C1', 'C1', 'C5', 'C5', 'C2', 'C2', 'C4', 'C4',
       'C3', 'C3', 'C5', 'C5', 'C4', 'C4', 'C5', 'C5', 'C3', 'C3', 'C3',
       'C3', 'C4', 'C4', 'C4', 'C4', 'C5', 'C5', 'C4', 'C4', 'C4', 'C4',
       'C3', 'C3', 'C1', 'C1', 'C3', 'C3', 'C5', 'C5', 'C5', 'C5', 'C3',
       'C3', 'C2', 'C2', 'C2', 'C2', 'C4', 'C4', 'C4', 'C4', 'C3', 'C3',
       'C5', 'C5', 'C1', 'C1', 'C5', 'C5', 'C3', 'C3', 'C5', 'C5', 'C3',
       'C3', 'C4', 'C4', 'C4', 'C4', 'C4', 'C4', 'C3', 'C3', 'C3', 'C3',
       'C2', 'C2', 'C5', 'C5', 'C5', 'C5', 'C2', 'C2', 'C2', 'C2', 'C5',
       'C5', 'C1', 'C1', 'C4', 'C4', 'C1', 'C1', 'C5', 'C5', 'C1', 'C1',
       'C1', 'C1', 'C5', 'C5', 'C5', 'C5', 'C4', 'C4', 'C3', 'C3', 'C4',
       'C4', 'C5', 'C5', 'C2', 'C2', 'C1', 'C1', 'C4', 'C4', 'C3', 'C3',
       'C2', 'C2', 'C2', 'C2', 'C5', 'C5', 'C3', 'C3', 'C2', 'C2', 'C5',
       'C5', 'C3', 'C3', 'C2', 'C2', 'C3', 'C3', 'C4', 'C4', 'C3', 'C3',
       'C1', 'C1', 'C3', 'C3', 'C2', 'C2', 'C4', 'C4', 'C5', 'C5', 'C3',
       'C3', 'C3', 'C3', 'C3', 'C3', 'C2', 'C2', 'C2', 'C2', 'C3', 'C3',
       'C1', 'C1', 'C1', 'C1', 'C4', 'C4', 'C2', 'C2', 'C4', 'C4', 'C2',
       'C2', 'C3', 'C3', 'C5', 'C5', 'C2', 'C2', 'C1', 'C1', 'C5', 'C5',
       'C3', 'C3', 'C1', 'C1', 'C2', 'C2', 'C1', 'C1', 'C2', 'C2', 'C1',
       'C1', 'C1', 'C1', 'C3', 'C3', 'C3', 'C3', 'C2', 'C2', 'C3', 'C3',
       'C2', 'C2', 'C4', 'C4', 'C2', 'C2', 'C4', 'C4', 'C5', 'C5', 'C3',
       'C3', 'C1', 'C1', 'C1', 'C1', 'C4', 'C4', 'C1', 'C1', 'C3', 'C3',
       'C2', 'C2', 'C2', 'C2', 'C5', 'C5', 'C5', 'C5', 'C2', 'C2', 'C2',
       'C2', 'C3', 'C3', 'C5', 'C5', 'C1', 'C1', 'C2', 'C2', 'C5', 'C5',
       'C3', 'C3', 'C5', 'C5', 'C4', 'C4', 'C3', 'C3', 'C4', 'C4', 'C4',
       'C4', 'C2', 'C2', 'C4', 'C4', 'C3', 'C3', 'C3', 'C3', 'C2', 'C2',
       'C2', 'C2', 'C5', 'C5', 'C3', 'C3', 'C4', 'C4', 'C2', 'C2', 'C5',
       'C5', 'C1', 'C1', 'C5', 'C5', 'C1', 'C1', 'C1', 'C1', 'C3', 'C3',
       'C4', 'C4', 'C4', 'C4', 'C3', 'C3', 'C5', 'C5', 'C3', 'C3', 'C5',
       'C5', 'C3', 'C3', 'C1', 'C1', 'C4', 'C4', 'C3', 'C3', 'C1', 'C1',
       'C3', 'C3', 'C3', 'C3', 'C5', 'C5', 'C4', 'C4', 'C2', 'C2'],
      dtype='<U2')

In [4]:
#Creating an array of product elements
p = np.random.choice(['A','B','C','D'],1000)

In [5]:
#Viewing the array
p

array(['D', 'A', 'C', 'D', 'A', 'D', 'C', 'D', 'A', 'A', 'C', 'B', 'A',
       'A', 'A', 'A', 'B', 'C', 'A', 'B', 'C', 'B', 'B', 'A', 'D', 'B',
       'D', 'A', 'C', 'C', 'D', 'A', 'A', 'D', 'C', 'C', 'A', 'B', 'D',
       'B', 'A', 'B', 'D', 'C', 'A', 'A', 'A', 'B', 'C', 'D', 'B', 'A',
       'C', 'A', 'A', 'C', 'B', 'C', 'A', 'C', 'C', 'B', 'D', 'B', 'A',
       'B', 'A', 'B', 'D', 'A', 'C', 'C', 'B', 'B', 'D', 'A', 'B', 'C',
       'D', 'A', 'A', 'A', 'C', 'B', 'A', 'B', 'D', 'B', 'B', 'A', 'C',
       'C', 'A', 'D', 'A', 'D', 'C', 'B', 'D', 'D', 'D', 'B', 'C', 'B',
       'A', 'B', 'B', 'D', 'B', 'D', 'D', 'C', 'A', 'A', 'B', 'A', 'A',
       'D', 'D', 'B', 'C', 'B', 'D', 'D', 'B', 'C', 'C', 'A', 'D', 'B',
       'D', 'A', 'D', 'D', 'D', 'B', 'B', 'D', 'C', 'C', 'D', 'B', 'A',
       'D', 'A', 'B', 'A', 'D', 'C', 'B', 'A', 'D', 'D', 'B', 'A', 'A',
       'B', 'B', 'C', 'D', 'D', 'D', 'B', 'A', 'D', 'C', 'D', 'A', 'C',
       'D', 'A', 'C', 'D', 'A', 'B', 'C', 'C', 'A', 'B', 'C', 'A', 'C',
       'D', 'A', 'C', 'A', 'A', 'A', 'D', 'D', 'B', 'C', 'B', 'D', 'A',
       'C', 'D', 'B', 'B', 'A', 'C', 'D', 'D', 'A', 'A', 'D', 'A', 'A',
       'A', 'A', 'C', 'D', 'D', 'A', 'D', 'A', 'B', 'D', 'C', 'B', 'D',
       'C', 'A', 'C', 'B', 'A', 'C', 'A', 'B', 'D', 'A', 'B', 'A', 'D',
       'A', 'D', 'B', 'A', 'B', 'C', 'C', 'B', 'B', 'A', 'D', 'B', 'B',
       'C', 'B', 'C', 'C', 'A', 'D', 'B', 'C', 'D', 'C', 'B', 'A', 'C',
       'B', 'A', 'B', 'D', 'B', 'B', 'A', 'B', 'A', 'B', 'B', 'B', 'A',
       'B', 'C', 'D', 'D', 'D', 'B', 'D', 'C', 'C', 'A', 'C', 'C', 'B',
       'B', 'A', 'C', 'C', 'D', 'B', 'D', 'C', 'A', 'A', 'B', 'A', 'B',
       'B', 'A', 'D', 'B', 'D', 'A', 'B', 'D', 'C', 'D', 'A', 'C', 'C',
       'A', 'A', 'A', 'D', 'A', 'D', 'D', 'D', 'C', 'B', 'A', 'B', 'B',
       'C', 'B', 'D', 'B', 'D', 'A', 'B', 'A', 'C', 'C', 'B', 'C', 'C',
       'C', 'A', 'B', 'A', 'D', 'A', 'B', 'B', 'D', 'D', 'B', 'C', 'C',
       'D', 'A', 'B', 'C', 'A', 'B', 'A', 'C', 'B', 'B', 'A', 'D', 'D',
       'A', 'B', 'B', 'B', 'A', 'D', 'D', 'D', 'A', 'C', 'A', 'B', 'B',
       'D', 'D', 'A', 'B', 'A', 'D', 'D', 'B', 'A', 'D', 'C', 'C', 'C',
       'D', 'A', 'C', 'C', 'D', 'D', 'C', 'C', 'B', 'A', 'A', 'B', 'B',
       'D', 'B', 'A', 'B', 'B', 'A', 'B', 'D', 'C', 'A', 'D', 'D', 'C',
       'A', 'A', 'D', 'A', 'A', 'A', 'B', 'B', 'A', 'B', 'A', 'A', 'A',
       'C', 'B', 'B', 'D', 'C', 'D', 'B', 'D', 'A', 'C', 'B', 'C', 'C',
       'A', 'B', 'D', 'B', 'D', 'C', 'D', 'A', 'C', 'A', 'D', 'B', 'B',
       'A', 'C', 'C', 'B', 'A', 'D', 'A', 'B', 'D', 'D', 'D', 'C', 'B',
       'A', 'D', 'A', 'A', 'B', 'D', 'C', 'C', 'D', 'A', 'A', 'A', 'A',
       'B', 'B', 'D', 'D', 'B', 'D', 'C', 'B', 'B', 'A', 'D', 'C', 'A',
       'C', 'D', 'A', 'D', 'D', 'A', 'D', 'A', 'D', 'B', 'B', 'A', 'B',
       'A', 'C', 'B', 'C', 'D', 'A', 'A', 'D', 'B', 'A', 'C', 'A', 'B',
       'A', 'A', 'A', 'A', 'D', 'A', 'A', 'D', 'B', 'A', 'A', 'B', 'A',
       'D', 'C', 'D', 'B', 'C', 'C', 'D', 'C', 'A', 'C', 'A', 'A', 'B',
       'B', 'C', 'B', 'D', 'D', 'C', 'D', 'A', 'D', 'C', 'A', 'D', 'B',
       'D', 'D', 'C', 'B', 'A', 'D', 'A', 'C', 'D', 'A', 'C', 'C', 'C',
       'D', 'B', 'B', 'A', 'B', 'D', 'C', 'D', 'B', 'C', 'B', 'D', 'C',
       'A', 'B', 'B', 'A', 'A', 'A', 'B', 'A', 'B', 'C', 'C', 'C', 'C',
       'D', 'D', 'D', 'B', 'D', 'C', 'D', 'C', 'A', 'B', 'C', 'A', 'A',
       'A', 'D', 'D', 'A', 'B', 'B', 'A', 'B', 'C', 'B', 'D', 'C', 'A',
       'C', 'D', 'A', 'B', 'D', 'D', 'C', 'B', 'B', 'D', 'A', 'A', 'A',
       'C', 'B', 'D', 'D', 'B', 'D', 'B', 'B', 'B', 'C', 'C', 'A', 'C',
       'D', 'B', 'A', 'D', 'D', 'C', 'C', 'B', 'A', 'C', 'B', 'D', 'A',
       'A', 'A', 'D', 'B', 'D', 'B', 'A', 'D', 'D', 'B', 'A', 'A', 'D',
       'C', 'D', 'B', 'B', 'B', 'B', 'D', 'C', 'D', 'C', 'B', 'B', 'D',
       'D', 'C', 'D', 'C', 'A', 'D', 'D', 'D', 'C', 'B', 'B', 'A', 'A',
       'B', 'B', 'B', 'A', 'C', 'B', 'C', 'A', 'B', 'A', 'B', 'A', 'A',
       'C', 'D', 'C', 'B', 'B', 'A', 'D', 'A', 'C', 'C', 'D', 'A', 'C',
       'D', 'C', 'D', 'D', 'D', 'C', 'D', 'D', 'C', 'A', 'C', 'D', 'B',
       'D', 'D', 'A', 'A', 'D', 'B', 'B', 'C', 'C', 'A', 'D', 'C', 'D',
       'B', 'D', 'C', 'D', 'A', 'C', 'D', 'C', 'C', 'C', 'C', 'A', 'B',
       'C', 'D', 'B', 'D', 'B', 'B', 'D', 'A', 'A', 'A', 'A', 'B', 'B',
       'D', 'C', 'B', 'A', 'D', 'B', 'D', 'A', 'B', 'D', 'B', 'C', 'D',
       'D', 'A', 'B', 'C', 'B', 'A', 'A', 'A', 'B', 'C', 'D', 'C', 'A',
       'B', 'B', 'A', 'D', 'C', 'C', 'D', 'A', 'C', 'D', 'D', 'A', 'D',
       'B', 'B', 'A', 'B', 'A', 'C', 'D', 'B', 'A', 'A', 'D', 'C', 'C',
       'A', 'C', 'B', 'D', 'C', 'C', 'D', 'B', 'B', 'A', 'B', 'B', 'B',
       'A', 'C', 'C', 'D', 'C', 'D', 'D', 'C', 'D', 'A', 'A', 'B', 'C',
       'A', 'B', 'B', 'C', 'B', 'B', 'A', 'D', 'A', 'D', 'C', 'C', 'C',
       'A', 'B', 'B', 'A', 'B', 'D', 'B', 'A', 'B', 'B', 'A', 'D', 'C',
       'D', 'B', 'B', 'A', 'A', 'C', 'A', 'D', 'D', 'B', 'B', 'D', 'A',
       'B', 'D', 'C', 'D', 'A', 'D', 'D', 'D', 'A', 'A', 'A', 'A', 'A',
       'B', 'A', 'D', 'C', 'A', 'D', 'D', 'D', 'D', 'B', 'C', 'D', 'D',
       'B', 'C', 'B', 'D', 'D', 'D', 'A', 'C', 'A', 'A', 'B', 'D', 'C',
       'D', 'A', 'D', 'C', 'C', 'B', 'A', 'D', 'B', 'A', 'A', 'D', 'B',
       'C', 'D', 'B', 'D', 'D', 'B', 'D', 'C', 'B', 'D', 'A', 'C', 'A',
       'A', 'B', 'D', 'D', 'C', 'C', 'C', 'D', 'D', 'B', 'A', 'C', 'D',
       'B', 'C', 'D', 'D', 'C', 'A', 'C', 'C', 'D', 'D', 'B', 'D', 'C',
       'D', 'C', 'B', 'D', 'D', 'C', 'A', 'D', 'A', 'D', 'C', 'A'],
      dtype='<U1')

In [6]:
#Creating the array for quantity purchased
q=np.random.randint(1,10,1000)

In [7]:
#Viewing the array
q

array([7, 7, 2, 7, 8, 8, 9, 7, 8, 4, 5, 1, 1, 8, 3, 6, 9, 3, 6, 3, 9, 5,
       8, 9, 9, 1, 3, 8, 7, 5, 8, 5, 9, 5, 3, 4, 9, 1, 9, 5, 8, 6, 2, 9,
       2, 8, 9, 6, 3, 8, 3, 8, 1, 4, 5, 8, 5, 7, 3, 6, 6, 1, 5, 1, 6, 4,
       6, 3, 4, 6, 9, 3, 1, 5, 4, 6, 6, 3, 9, 6, 9, 3, 3, 1, 2, 5, 6, 3,
       6, 4, 4, 6, 6, 2, 3, 9, 5, 3, 6, 5, 7, 9, 8, 4, 3, 7, 3, 7, 2, 6,
       1, 6, 6, 6, 8, 6, 6, 5, 4, 8, 7, 1, 3, 6, 6, 6, 7, 2, 6, 5, 7, 2,
       7, 5, 9, 2, 3, 7, 2, 6, 3, 4, 6, 4, 3, 9, 4, 7, 5, 1, 9, 8, 5, 8,
       9, 8, 6, 6, 2, 6, 8, 8, 6, 6, 6, 5, 7, 8, 1, 3, 6, 7, 6, 4, 7, 8,
       4, 9, 6, 4, 1, 7, 6, 7, 1, 2, 6, 1, 3, 2, 6, 9, 6, 3, 6, 6, 5, 2,
       7, 5, 4, 7, 3, 1, 2, 9, 4, 6, 8, 1, 3, 3, 7, 3, 9, 7, 8, 4, 5, 6,
       2, 3, 9, 7, 6, 9, 7, 4, 6, 4, 2, 9, 5, 7, 8, 9, 3, 5, 2, 4, 9, 7,
       6, 3, 6, 1, 3, 9, 4, 9, 7, 1, 7, 9, 8, 7, 7, 2, 5, 9, 7, 6, 2, 6,
       5, 3, 7, 9, 3, 6, 9, 6, 6, 3, 3, 2, 8, 2, 5, 7, 8, 8, 1, 3, 2, 5,
       8, 3, 5, 9, 1, 9, 5, 2, 4, 3, 2, 2, 1, 1, 6, 3, 2, 5, 4, 9, 9, 9,
       6, 4, 7, 5, 7, 9, 4, 6, 1, 8, 1, 6, 9, 8, 7, 8, 6, 4, 2, 9, 8, 9,
       3, 1, 6, 5, 6, 9, 2, 1, 7, 1, 9, 5, 9, 2, 7, 4, 6, 3, 5, 3, 6, 2,
       8, 5, 1, 8, 1, 5, 5, 6, 5, 2, 4, 8, 3, 1, 2, 6, 7, 9, 9, 4, 4, 4,
       9, 8, 3, 7, 9, 6, 1, 6, 4, 5, 4, 8, 8, 7, 6, 3, 5, 9, 9, 4, 7, 8,
       2, 1, 2, 6, 1, 8, 7, 3, 4, 9, 4, 4, 6, 3, 9, 8, 6, 3, 8, 1, 1, 3,
       4, 2, 8, 7, 6, 6, 2, 8, 7, 2, 4, 6, 6, 1, 5, 4, 5, 6, 4, 9, 3, 4,
       7, 7, 3, 8, 4, 7, 6, 9, 3, 9, 4, 6, 7, 5, 6, 6, 5, 6, 5, 6, 3, 4,
       2, 3, 9, 7, 9, 4, 9, 3, 7, 9, 3, 9, 2, 2, 2, 4, 3, 7, 4, 5, 4, 5,
       7, 4, 7, 9, 3, 4, 3, 1, 5, 7, 6, 1, 3, 1, 1, 1, 5, 6, 1, 2, 7, 5,
       4, 5, 8, 5, 9, 4, 9, 3, 6, 2, 3, 5, 9, 5, 7, 1, 9, 7, 3, 8, 9, 8,
       6, 4, 1, 1, 7, 6, 3, 3, 5, 1, 8, 3, 1, 1, 2, 7, 8, 6, 2, 4, 3, 6,
       4, 8, 2, 3, 7, 5, 1, 2, 9, 1, 4, 4, 4, 9, 9, 1, 4, 3, 3, 4, 8, 7,
       4, 6, 6, 7, 8, 3, 1, 8, 1, 5, 6, 8, 5, 6, 8, 8, 4, 8, 7, 4, 5, 5,
       5, 7, 5, 5, 1, 9, 7, 2, 8, 3, 2, 7, 3, 8, 7, 9, 1, 9, 4, 8, 9, 5,
       3, 8, 8, 6, 5, 4, 5, 2, 5, 8, 4, 3, 4, 3, 1, 8, 3, 6, 1, 6, 9, 6,
       5, 4, 4, 7, 1, 7, 4, 3, 1, 4, 9, 8, 6, 4, 1, 9, 3, 5, 1, 1, 7, 1,
       6, 6, 2, 1, 4, 5, 1, 3, 4, 2, 4, 6, 8, 4, 7, 4, 9, 9, 2, 4, 9, 4,
       2, 5, 7, 3, 2, 6, 4, 8, 8, 3, 9, 6, 5, 4, 5, 7, 5, 9, 5, 7, 7, 7,
       2, 5, 1, 7, 4, 7, 7, 1, 7, 3, 8, 3, 1, 4, 3, 9, 4, 7, 5, 2, 1, 9,
       8, 6, 8, 3, 9, 5, 7, 6, 2, 1, 8, 8, 2, 8, 2, 9, 5, 3, 8, 4, 5, 1,
       3, 2, 9, 2, 2, 9, 7, 4, 1, 6, 9, 2, 9, 5, 1, 3, 5, 5, 7, 7, 2, 1,
       8, 2, 1, 8, 9, 1, 4, 6, 9, 2, 5, 8, 1, 1, 4, 9, 3, 2, 9, 5, 7, 8,
       4, 6, 3, 9, 2, 8, 4, 2, 1, 9, 1, 1, 1, 7, 6, 5, 5, 7, 7, 4, 4, 6,
       9, 3, 4, 9, 3, 5, 2, 4, 5, 6, 9, 7, 7, 1, 7, 9, 3, 2, 8, 2, 3, 8,
       8, 7, 7, 9, 9, 9, 8, 7, 9, 5, 4, 3, 9, 9, 4, 6, 2, 6, 8, 9, 7, 5,
       4, 3, 7, 8, 6, 7, 9, 7, 6, 2, 3, 2, 6, 5, 9, 5, 7, 5, 9, 6, 8, 1,
       1, 2, 8, 7, 2, 9, 4, 4, 4, 5, 5, 7, 5, 6, 4, 8, 2, 4, 2, 6, 4, 8,
       1, 6, 1, 8, 6, 8, 5, 8, 5, 3, 2, 4, 4, 9, 6, 5, 3, 6, 5, 1, 5, 1,
       1, 4, 5, 6, 7, 2, 1, 7, 4, 2, 7, 9, 7, 3, 6, 4, 3, 9, 3, 7, 8, 8,
       2, 9, 1, 3, 8, 7, 7, 7, 6, 8, 8, 7, 5, 4, 9, 8, 3, 2, 6, 8, 6, 6,
       4, 2, 6, 8, 9, 3, 4, 2, 4, 8, 9, 3, 4, 9, 3, 4, 2, 5, 1, 2, 3, 8,
       4, 9, 2, 9, 7, 1, 1, 2, 5, 5])

In [8]:
#Creating an dictionary to map the products to price per quantity
dic={'A':400,'B':250,'C':479,'D':750}

In [9]:
#Creating an new DataFrame
df=pd.DataFrame()

In [10]:
#Appending the Customer id into the Dataframe
df['Customer Id']=n

In [11]:
#Viewing the DataFrame
df

    Customer Id
0            C4
1            C4
2            C4
3            C4
4            C3
..          ...
995          C5
996          C4
997          C4
998          C2
999          C2

[1000 rows x 1 columns]

In [12]:
#Appending the Product into the Dataframe
df['Product']=p

In [13]:
#Viewing the DataFrame
df

    Customer Id Product
0            C4       D
1            C4       A
2            C4       C
3            C4       D
4            C3       A
..          ...     ...
995          C5       D
996          C4       A
997          C4       D
998          C2       C
999          C2       A

[1000 rows x 2 columns]

In [14]:
#Appending the Quantity into the Dataframe
df['Quantity']=q

In [15]:
#Viewing the DataFrame
df

    Customer Id Product  Quantity
0            C4       D         7
1            C4       A         7
2            C4       C         2
3            C4       D         7
4            C3       A         8
..          ...     ...       ...
995          C5       D         1
996          C4       A         1
997          C4       D         2
998          C2       C         5
999          C2       A         5

[1000 rows x 3 columns]

In [16]:
#Mapping the column PPQ by taking the Reference as product
#Becoz for the same product it has the same PPQ 
#So we dont use randint here instead we use map based on Products
df['Price per Quantity']=df['Product'].map(dic)

In [17]:
#Viewing the DataFrame
df

    Customer Id Product  Quantity  Price per Quantity
0            C4       D         7                 750
1            C4       A         7                 400
2            C4       C         2                 479
3            C4       D         7                 750
4            C3       A         8                 400
..          ...     ...       ...                 ...
995          C5       D         1                 750
996          C4       A         1                 400
997          C4       D         2                 750
998          C2       C         5                 479
999          C2       A         5                 400

[1000 rows x 4 columns]

<h3 style='color:red;border:2px solid blue;padding:5px'>1)Total price for each row</h3>

In [18]:
#Total Price= PPQ*Quantity
df['TotalPrice']=df['Quantity']*df['Price per Quantity']

In [19]:
#Viewing the DataFrame
df

    Customer Id Product  Quantity  Price per Quantity  TotalPrice
0            C4       D         7                 750        5250
1            C4       A         7                 400        2800
2            C4       C         2                 479         958
3            C4       D         7                 750        5250
4            C3       A         8                 400        3200
..          ...     ...       ...                 ...         ...
995          C5       D         1                 750         750
996          C4       A         1                 400         400
997          C4       D         2                 750        1500
998          C2       C         5                 479        2395
999          C2       A         5                 400        2000

[1000 rows x 5 columns]

<h3 style='color:red;border:2px solid blue;padding:5px'>2)Which customer purchased more (by number of products)</h3>

In [21]:
con= df.groupby(['Customer Id'])['Quantity'].sum()

In [22]:
con.sort_values(ascending=False)

Customer Id
C4    1248
C3    1222
C5     971
C1     884
C2     838
Name: Quantity, dtype: int32

In [23]:
max(con)

1248

<h3 style='color:red;border:2px solid blue;padding:5px'>3)Which customer purchased more (by total price)</h3>

In [32]:
con=df.groupby(['Customer Id'])['TotalPrice'].sum()

In [33]:
con

Customer Id
C1    439564
C2    374469
C3    590172
C4    598345
C5    464383
Name: TotalPrice, dtype: int64

<h3 style='color:red;border:2px solid blue;padding:5px'>4)which customer purchased more (by number of orders)</h3>

In [34]:
df['Customer Id'].value_counts()

C4    234
C3    226
C5    190
C2    178
C1    172
Name: Customer Id, dtype: int64

<h3 style='color:red;border:2px solid blue;padding:5px'>5)Which product is least purchased</h3>

In [35]:
con=df.groupby(['Product'])['Quantity'].sum()

In [36]:
con

Product
A    1397
B    1249
C    1077
D    1440
Name: Quantity, dtype: int32

In [42]:
a=np.array([[[1,2],[5,6],[10,12]],
[[10,0],[1,3],[4,5]]])

In [43]:
a.shape

(2, 3, 2)

In [ ]:
#Append
for the axis you append you must make it 1 and multuply others
-convert the new array shape as the first array after making 1
np.append(old_arr,new_val,axis)